<table class="products-table">
  <tbody>
    <tr class="row-category">
      <td class="cell-product">
        <span class="header-category-small">Produkty</span>
      </td>
      <td class="cell-price">
        <span class="header-category-small cell-price-content">Cena</span>
      </td>
      <td class="cell-quantity">
        <span class="header-category-small cell-quantity-content">Ilość</span>
      </td>
      <td class="cell-total-price">
        <span class="header-category-small">Razem</span>
      </td>
    </tr>
    {% for product in original_invoice %}
    <tr class="row-product">
      <td class="cell-product">
        <span class="normal-text-table">
          {{ product.na }}
        </span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content"
          >{{ product.pr }}</span
        >
      </td>
      <td class="cell-quantity">
        <span class="normal-text-table cell-quantity-content"
          >{{ product.il }}</span
        >
      </td>
      <td class="cell-total-price">
        <span class="normal-text-table"
          >{{ product.pr }}</span
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
