{% load price from taxed_prices %}
<table class="summary-table">
  <tbody>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Kwota netto</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {{ order_summary.total_net_amount }} PLN</span>
      </td>
    </tr>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">VAT</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {{ order_summary.vat }} PLN</span>
      </td>
    </tr>
    {% if gift_cards_payment.amount > 0 %}
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Karty podarunkowe</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> -{% price gift_cards_payment %} </span>
      </td>
    </tr>
    {% endif %}
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table"><b>Kwota brutto</b></span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {{ order_summary.total_gross_amount }} PLN</span>
      </td>
    </tr>
  </tbody>
</table>
