{% load price from taxed_prices %}
<table class="products-table">
  <tbody>
    <tr class="row-category">
      <td class="cell-enumeration cell-grayed">
        <span class="header-category-small">Lp.</span>
      </td>
      <td class="cell-product cell-grayed">
        <span class="header-category-small">Produkty</span>
      </td>
      <td class="cell-quantity cell-grayed">
        <span class="header-category-small cell-quantity-content">Ilość</span>
      </td>
      <td class="cell-price cell-grayed">
        <span class="header-category-small cell-price-content">Cena jednost. netto</span>
      </td>
      <td class="cell-price cell-grayed">
        <span class="header-category-small cell-price-content">Wartość sprzedaży netto</span>
      </td>
      <td class="cell-price cell-grayed">
        <span class="header-category-small cell-price-content">VAT %</span>
      </td>
      <td class="cell-price cell-grayed">
        <span class="header-category-small cell-price-content">VAT kwota</span>
      </td>
      <td class="cell-total-price cell-grayed">
        <span class="header-category-small">Wartość sprzedaży brutto</span>
      </td>
    </tr>
    {% for product in products %}
    <tr class="row-product">
      <td class="cell-enumeration">
        <span class="normal-text-table cell-price-content"
          >{{ forloop.counter }}</span
        >
      </td>
      <td class="cell-product">
        <span class="normal-text-table">
          {{ product|truncatechars:46 }} {% if product.product_sku %}
          <div class="padded-font-small"></div>
          <span class="header-category-small"
            >SKU: {{ product.product_sku }}</span
          >
          {% endif %}
        </span>
      </td>
      <td class="cell-quantity">
        <span class="normal-text-table cell-quantity-content"
          >{{ product.quantity }}</span
        >
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content"
          >{{ product.unit_price_net.amount }}</span
        >
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">{{ product.total_price_net.amount }}</span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">23</span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">{{ product.vat.amount|floatformat:2 }}</span>
      </td>
      <td class="cell-total-price">
        <span class="normal-text-table"
          >{{ product.total_price_gross_amount|floatformat:2  }}</span
        >
      </td>
    </tr>
    {% endfor %}
    <!--SHIPMENT-->
    <tr class="row-product">
      <td class="cell-enumeration">
        <span class="normal-text-table cell-price-content">2</span>
      </td>
      <td class="cell-product">
        <span class="normal-text-table">{{ shipment.name }}</span>
      </td>
      <td class="cell-quantity">
        <span class="normal-text-table cell-quantity-content"
          >{{ shipment.quantity }}</span
        >
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content"
          >{{ shipment.shipping_price_net }}</span
        >
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">{{ shipment.shipping_price_net }}</span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">23</span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content">{{ shipment.vat|floatformat:2 }}</span>
      </td>
      <td class="cell-total-price">
        <span class="normal-text-table"
          >{{ shipment.shipping_price_gross|floatformat:2  }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
