{% load price from taxed_prices %}
<table class="summary-table">
  <tbody>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Suma częściowa</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {% price order.get_subtotal.gross %} </span>
      </td>
    </tr>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Koszt dostawy</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item">
          {% price order.shipping_price.gross %}
        </span>
      </td>
    </tr>
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Podatek</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {% price order.total.tax %} </span>
      </td>
    </tr>
    {% if gift_cards_payment.amount > 0 %}
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table">Karty podarunkowe</span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> -{% price gift_cards_payment %} </span>
      </td>
    </tr>
    {% endif %}
    <tr class="summary-row">
      <td class="cell-summary">
        <span class="normal-text-table"><b>Razem</b></span>
      </td>
      <td class="cell-quantity"></td>
      <td class="cell-total-price">
        <span class="header-item"> {% price order.total.gross %} </span>
      </td>
    </tr>
  </tbody>
</table>
