{% load price from taxed_prices %}
{% load prices %}
<table class="products-table">
  <tbody>
    <tr class="row-category">
      <td class="cell-product">
        <span class="header-category-small">Produkty</span>
      </td>
      <td class="cell-price">
        <span class="header-category-small cell-price-content">Cena</span>
      </td>
      <td class="cell-quantity">
        <span class="header-category-small cell-quantity-content">Ilość</span>
      </td>
      <td class="cell-total-price">
        <span class="header-category-small">Razem</span>
      </td>
    </tr>
    {% for product in products %}
    <tr class="row-product">
      <td class="cell-product">
        <span class="normal-text-table">
          {{ product.name|truncatechars:46 }} {% if product.product_sku %}
          <div class="padded-font-small"></div>
          <span class="header-category-small"
            >SKU: {{ product.product_sku }}</span
          >
          {% endif %}
        </span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content"
          >{{ product.unit_price.gross.amount|floatformat:2 }}</span
        >
      </td>
      <td class="cell-quantity">
        <span class="normal-text-table cell-quantity-content"
          >{{ product.quantity }}</span
        >
      </td>
      <td class="cell-total-price">
        <span class="normal-text-table"
          >{{ product.total_price.gross.amount|floatformat:2 }}</span
        >
      </td>
    </tr>
    {% endfor %}
    <!--Shipment-->
    <tr class="row-product">
      <td class="cell-product">
        <span class="normal-text-table">
          {{ shipment.name|truncatechars:46 }}
          <div class="padded-font-small"></div>
        </span>
      </td>
      <td class="cell-price">
        <span class="normal-text-table cell-price-content"
          >{{ shipment.unit_price|floatformat:2 }}</span
        >
      </td>
      <td class="cell-quantity">
        <span class="normal-text-table cell-quantity-content"
          >{{ shipment.quantity }}</span
        >
      </td>
      <td class="cell-total-price">
        <span class="normal-text-table"
          >{{ shipment.price|floatformat:2 }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
